<!DOCTYPE html>
<html>
  <body>
    <!--<h2 style ="float:center"> Sistema de control y monitoreo de una casa inteligente</h2>-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="center">
        <h3>Sistema de control automático de una casa inteligentse</h3>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-lg">
            <div>
                <img src="http://localhost:8080/casa_maqueta.png" class="img_fluid" style="width:800px;height:830px;">
            </div>
            <div *ngFor="let leButton of buttonLights; let i = index">
                <div *ngIf="verificarEstado(leButton.name); else elseBlock">
                    <button (click)="setState(leButton.name)" _ngcontent-rlf-c133="" mat-fab="" color="primary" class="mat-focus-indicator mat-fab mat-button-base mat-primary" [class]="leButton.class">
                        <span class="mat-button-wrapper">
                            <mat-icon _ngcontent-rlf-c133="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
                                O
                            </mat-icon>
                        </span>
                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round">
                        </span>
                        <span class="mat-button-focus-overlay">
                        </span>
                    </button>
                </div>
                <ng-template #elseBlock>
                    <button (click)="setState(leButton.name)" _ngcontent-hnv-c139="" mat-fab="" class="mat-focus-indicator mat-fab mat-button-base mat-fab mat-warn" [class]="leButton.class">
                        <span class="mat-button-wrapper">
                            <mat-icon _ngcontent-hnv-c139="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
                                X
                            </mat-icon>
                        </span>
                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round">
                        </span>
                        <span class="mat-button-focus-overlay">
                        </span>
                    </button>
                </ng-template>
            </div>
            <div *ngFor="let leButton of buttonDoors; let i = index">
                    <div *ngIf="verificarEstadoPuerta(leButton.name); else elseBlock">
                        <button _ngcontent-rlf-c133="" mat-fab="" color="primary" class="mat-focus-indicator mat-fab mat-button-base mat-primary" [class]="leButton.class">
                            <span class="mat-button-wrapper">
                                <mat-icon _ngcontent-rlf-c133="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
                                    A
                                </mat-icon>
                            </span>
                            <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round">
                            </span>
                            <span class="mat-button-focus-overlay">
                            </span>
                        </button>
                    </div>
                    <ng-template #elseBlock>
                        <button _ngcontent-hnv-c139="" mat-fab="" class="mat-focus-indicator mat-fab mat-button-base mat-fab mat-warn" [class]="leButton.class">
                            <span class="mat-button-wrapper">
                                <mat-icon _ngcontent-hnv-c139="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">
                                    C
                                </mat-icon>
                            </span>
                            <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round">
                            </span>
                            <span class="mat-button-focus-overlay">
                            </span>
                        </button>
                    </ng-template>
            </div>

        </div>

        <div class="col-lg">
            <div>
                <img src="{{imageSrc}}" style ="width:800px;height:830px">
            </div>
            <div>
                <button (click)="toggleImg()" class="btn btn-primary ripple-surface mb-5" >
                    {{btnText}}
                </button>
            </div>
            
        </div>
    
      </div>
    </div>
  </body>
</html>